/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
html {
    interpolate-size: allow-keywords;
}
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*___________________________________*/

/* Add downloaded font */
@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

.page {
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.sideBar {
    --banner-height: 200px; /* Control banner element positions */
    position: relative;
    width: 35vw;
    color: white;
}

.sideBarImage {
    position: absolute;
    z-index: -1; /* Bring image to back */
    width: 35vw; /* Keep image 35% viewport width at all time */
    height: 100vh; /* Keep image full viewport height at all time */
}

.sideBarForeground {
    height: 100%; /* Make the side bar footer always at the bottom (1) */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Make the side bar footer always at the bottom (2) */
    align-items: center;
}

.sideBarBanner {
    position: relative;
    margin-top: 200px;
    width: 100%;
    height: var(--banner-height);
    text-align: center;
    font-size: calc(var(--banner-height) * 0.8); /* Adjust text size based on variable */
    font-family: norse-bold; /* Use downloaded font */
    line-height: 1.23; /* Manually adjust ODIN text vertically. Need to be more dynamic */
    display: flex; /* Make the ODIN text inline with the logo. Don't know why the span element didn't work */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.odinLogo,.odin {
    height: 80%;
}

.bannerBackground {
    position: absolute; /* this will make sure bannerBackground always same position as sideBarBanner */
    z-index: -1;
    width: 100%;
    height: var(--banner-height);
    background-color: black;
    opacity: 0.6; /* opacity is inherent so it will affect the images and text. So need to create a whole
    new element just for the banner background */
}

.sideBarFooter {
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-style: italic;
}

/* Override the purple link color */
a:-webkit-any-link {
    color: white;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

.content {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    height: 30vh;
}

.inputSpace {
    height: 30vh;
}

.footer {
    height: 30vh;
}