/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
html {
    interpolate-size: allow-keywords;
}
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*___________________________________*/

@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

.page {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.sideBar {
    --banner-height: 100px; /* Control banner element positions */
    position: relative;
    width: 35vw;
}

.sideBarImage {
    position: absolute;
    z-index: -1; /* Bring image to back */
    width: 100%;
}

.sideBarForeground {
    height: 100%; /* Make the side bar footer always at the bottom (1) */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Make the side bar footer always at the bottom (2) */
    align-items: center;
}

.sideBarBanner {
    margin-top: 100px;
    height: var(--banner-height);
    width: 100%;
    background-color: black;
    opacity: 0.6;
    color: white;
    text-align: center;
    font-size: calc(var(--banner-height) * 1.1);
    font-family: norse-bold;
    display: flex; /* Make the ODIN text inline with the logo. Don't know why the span element didn't work */
    justify-content: center;
    align-items: center;
}

.odinLogo,span {
    opacity: 0.9;
    height: 100%;
}

.content {
    width: 65vw;
}