/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
html {
    interpolate-size: allow-keywords;
}
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/*___________________________________*/

/* Add downloaded font */
@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

.page {
    display: flex;
    justify-content: center;
    height: 685px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.sideBar {
    --banner-height: 100px; /* Control banner element positions */
    position: relative;
    width: 450px;
    color: white;
}

.sideBarImage {
    position: absolute;
    z-index: -1; /* Bring image to back */
    width: 450px; /* Keep image 35% viewport width at all time */
    height: 685px; /* Keep image full viewport height at all time */
}

.sideBarForeground {
    height: 100%; /* Make the side bar footer always at the bottom (1) */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Make the side bar footer always at the bottom (2) */
    align-items: center;
}

.sideBarBanner {
    position: relative;
    margin-top: 120px;
    width: 100%;
    height: var(--banner-height);
    text-align: center;
    font-size: calc(var(--banner-height) * 0.8); /* Adjust text size based on variable */
    font-family: norse-bold; /* Use downloaded font */
    line-height: 1.23; /* Manually adjust ODIN text vertically. Need to be more dynamic */
    display: flex; /* Make the ODIN text inline with the logo. Don't know why the span element didn't work */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.odinLogo,.odin {
    z-index: -1; /* Avoid overlapping with the right content elements */
    height: 80%;
}

.bannerBackground {
    position: absolute; /* this will make sure bannerBackground always same position as sideBarBanner */
    z-index: -1;
    width: 100%;
    height: var(--banner-height);
    background-color: black;
    opacity: 0.4; /* opacity is inherent so it will affect the images and text. So need to create a whole
    new element just for the banner background */
}

.sideBarFooter {
    margin-bottom: 10px;
    font-size: 0.6rem;
    font-style: italic;
}

/* Override the purple link color */
.sideBarFooter > a:-webkit-any-link {
    color:white;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

.content {
    width: 830px;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    height: 240px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 60px 210px 10px 40px; /* top left bottom right */
    line-height: 1.3rem;
    
}

.description > p {
    margin-top: 30px;
}

.inputSpace {
    height: 240px;
    padding: 15px 210px 20px 40px;
    background-color: white;
    box-shadow: 0 10px 20px grey;
}

.input {
    padding: 10px 0;
}

.form {
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #4e5a6a;
    display: flex;
    gap: 70px;
}

.form input { /* Styling the input boxes */
    display: block; /* Make the input boxes one line below the labels*/
    margin-bottom: 15px;
    width: 230px;
    height: 25px;
    border: 0.5px solid grey;
    border-radius: 3px;
}

.form input:focus {
    border: 1px solid #2050d8;
    box-shadow: 3px 3px 8px grey;
    outline: none; /* Remove the blue default outline */
}

.form input:invalid {
    border: 1px solid #C23838;
}

.columnOne,.columnTwo { /* Apply selector combination */
    width: 50%;
}

.footer {
    height: 205px;
    padding: 40px;
}

.createAccount {
    margin-bottom: 25px;
    width: 200px;
    height: 40px;
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border-radius: 8px;
    border: 1px solid #596D48;
}

.createAccount:hover {
    box-shadow: 3px 3px 8px grey;
    cursor: pointer;
    transform: scale(1.01); /* Make button bigger */
}

.otherOpt > a:-webkit-any-link {
    font-size: 0.9rem;
    font-weight: bold;
    color: #596D48;
    text-decoration: none;
}

.otherOpt > a:hover {
    cursor: pointer; /* Change cursor */
    color: purple;
}